@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200&family=Major+Mono+Display&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fluid {
    background-color: #c1dbcf;
    border: 1px solid rgb(31, 61, 66);
    
    
}

#navbar { 
    
    padding-top: 0;
    padding-bottom: 0;
    
}
#navbarText {
    font-size:medium;
    

}
.navbar-brand {
    color: #ebf0f0;
    text-shadow: 1px 1px 1px #0c357d,
             1px 2px 1px #3672e1,
             
            
             1px 15px 10px rgba(115, 208, 208, 0.4),
             1px 20px 30px rgba(25, 97, 133, 0.3),
             1px 25px 50px rgba(51, 34, 167, 0.896);
}
.nav-item {
    text-shadow: 1px 1px 1px #949ba7,
             1px 2px 1px #6683b8,
             1px 3px 1px #7183a6,
             
             1px 10px 5px rgba(231, 216, 216, 0.5),
             1px 15px 10px rgba(214, 206, 206, 0.4);
     
           

}
.navbar-text {
    margin-right: 20px;
    color: #7cd868;
}
.w-color {
    color: #e2cd2d;
}


.brand {
    font-size: 1.9rem;
    font-weight: 700;
    color: #7a7fb0;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #1f2515;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #c9f4f9;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: rgb(255, 255, 255);
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}
.nav-link:hover {
    font-size: large;
    border-top: 2px solid rgb(120, 197, 222);
    border-bottom: 2px solid rgb(120, 197, 222);
    padding: 4px 0;
}
.nav-link:a {
    transition: 1s ease;
    background: #3fa46a;
    color: rgb(115, 154, 44);
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 17px;
}

.post-link:hover,
.page-link {
    color: #1080e8;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}
.post-budget {
    color: #E84610;
    margin-left:5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #acbb23;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
    font-size: 15px;
    
}
.fa-comments {
    font-size: 15px;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}
footer {
    background-color: #c1dbcf;
    
    font-size: large;
    color:#1e23a8;

}
.btn-floating {
    color: #1e23a8;
}
.btn-floating:hover {
    color: #a8b218;
}

.bg-color {
    background-color:  #c1dbcf;
}
h4 {
    font-size: large;
}
pre {
    font-size: medium;
    color:#636742
}